.loginFormAll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 230px;
  max-width: 450px;
  margin: 1rem auto;

  &__group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    transition: flex-direction 1s ease;
  }
}

.loginFormAll__group_light {
  background: #fd7e00;
}

.loginFormAll__group_dark {
  background: #c36100;
}


.button.active {
  color: #101010;
  background-color: #a57700;
}

.button {
  min-width: 7rem;
  margin: .25rem auto;
  padding: 0 .25rem;
  cursor: pointer;

  background: #fbd671; /* Исправленный цвет фона */
}

@media (max-width: 850px) {
  .group {
    flex-direction: column;
    max-width: 450px;
    animation-name: direction;
    animation-duration: .5s;
  }
  .button {
    max-width: 450px;
  }
}

@keyframes direction {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 850px) {
  .group {
    flex-direction: column;
  }
  .button {
    margin: .25rem;
  }
}

